/* ---------------------Default setup-----------------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

body{
    overflow-x: hidden;
}

/* ---------------------Reuseable component-----------------------*/
.btn{
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    display: inline-block;
    text-align: center; /*căn lề của chữ*/
    transition: all .3s;
}

.btn:hover, .btn:active{
    background-color: #d35400;
    
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

h1, h2, h3{
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1{
    font-size: 300%;
    font-weight: 400;
    word-spacing: 5px;
    color: white;
    line-height: 135%;
    margin-bottom: 50px;
}

h2{
    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}

h2::after{
    content: "  ";
    display: block;
    width: 150px;
    height: 3px;
    background-color: rgb(231, 126, 35, 0.5);
    margin: 0 auto;
    margin-top: 5px;
}

h3{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #265077;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;
}

.p-long{
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 75%;
    margin-left: 15%;
}

section{
    padding: 50px;
}

.small-icon{
    color: #305679;
    font-size: 130%;
    margin-right: 10px;
}

/*------------------------Header----------------------------*/
header{
    background-image: linear-gradient(rgba(2, 33, 64, 0.8) 55%, rgba(45, 95, 93, 0.85)), url("../img/background4.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh; /*vh: view height, 100 là bao trùm 100% màn hình*/
    background-attachment: fixed;
}

.logo{
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: -50px;
    margin-bottom: -100px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 0.5s;
    padding: 3px 0;
}

.main-nav li a:hover, .main-nav li a:active{ /*hành động */
    border-bottom: 2px solid #cccccc;
    /*color: #e67e22;*/
}

.heading-main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%);
    width: 1140px;
}

.heading-main-text{
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 400;
    letter-spacing: 1px; /*khoảng cách giữa các chữ trong kí tự*/
    word-spacing: 10px; /*khoảng cách giữa các từ*/
    color: white;
    line-height: 135%;
    margin-bottom: 20px;
}

.sticky{
    background-color: rgba(2, 33, 64, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    padding-bottom: 10px;
}

.sticky .logo{
    width: 250px;
    margin-top: -40px;
    margin-bottom: -70px;
}

.sticky .main-nav{
    margin-top: 30px;
}

.mobile-nav-icon{
    font-size: 200%;
    color: #6b95db;
    position: absolute;
    top: 55px;
    right: 50px;
    display: none;
}

.sticky .mobile-nav-icon{
    top: 30px;
}

/*----------------------About section---------------------------*/
.about-picture{
    position: relative;
    margin-top: 50px;
}

.about-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #c2e1fd;
    box-shadow: 0px 5px 15px 5px #265077; /*x-y-độ mờ-độ phóng to-màu*/
    transition: all .7s;
}

.picture-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c2e1fd;
    transform: translate(-65%, 100%);
    opacity: 0;
    transition: all .7s;
}

.about-picture:hover img,
.about-picture:active img{
    filter: brightness(50%) blur(2px);
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-65%, -50%);
    opacity: 1;
}

/*----------------------Product section---------------------------*/
.products-section{
    background-color: #f4f4f4;
}

.products-section h2{
    margin-bottom: 60px;
}

.product-box{
    background-color: #eeefff;
    box-shadow: 3px 5px 10px #e0e0e0;
    width: 90%;
    height: 350px;
}

.product-price{
    color: #265077;
    font-size: 250%;
    font-weight: 300;
    text-align: center;
}

.product-price span{
    font-size: 80%;
}

.product-box ul li{
    margin-left: 20%;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;

}

.product-box .btn{
    margin-left: 20%;
}

/*----------------------Testimonials section---------------------------*/
.testimonials-section{
    background-image: linear-gradient(rgba(2, 33, 64, 0.8) 55%, rgba(45, 95, 93, 0.85)), url('../img/background5.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.testimonials-section h2{
    margin-bottom: 70px;
}

blockquote{
    width: 95%;
    position: relative;
    font-style: italic;
    line-height: 140%;
    color: white;
}

blockquote:before{
    content: '\201C';
    display: block;
    font-size: 400%;
    position: absolute;
    top: -10px;
    left: -10px;
}

cite{
    display: block;
    color: #6b95bd;
    margin-top: 25px;
}

cite img{
    height: 50px;
    border-radius: 50%;
    border: 2px solid #265077;
    vertical-align: middle;
    margin-right: 5px;
}

/*----------------------Sponser section---------------------------*/
.sponsors-section{
    background-color: #f4f4f4;
}

.sponsors-section h2{
    margin-bottom: 50px;
}

.sponsors-showcase{
    margin-left: 8%;
}

.sponsors-showcase li{
    list-style: none;
    float: left;
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.sponsors-logo{
    width: 150px;
}

.sponsors-showcase li .sponsors-logo:hover,
.sponsors-showcase li .sponsors-logo:active{
    transform: scale(1.2);
    cursor: pointer;
    transition: all .3s;
}

figcaption{
    color: #265077;
    font-weight: 900;
    font-size: 120%;
    cursor: pointer;
}

/*----------------------Contact section---------------------------*/
.contact-section{
    background-image: linear-gradient(rgba(2, 33, 64, 0.8) 55%, rgba(45, 95, 93, 0.85)), url('../img/background5.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.information{
    list-style: none;
    color: white;
    line-height: 200%;
    margin-top: 70px;
    word-spacing: 1px;
    font-size: 95%;
}

.information .small-icon{
    color: #427db4;
}

.information .small-icon:hover,
.information .small-icon:active{
    transform: scale(1.2);
}

.social-icons{
    margin-top: 50px;
    list-style: none;

}

.social-icons li{
    display: inline-block;
    font-size: 200%;
    margin-left: 20px;
    
}

.social-icons li i{
    color: white;
    transition: all .2s;
}

.social-icons li i:hover,
.social-icons li i:active{
    transform: scale(1.2);
    color: #e67e22;
}

form{
    background-color: rgba(0, 0, 0, .4);
    margin-left: 40%;
    width: 70%;
    padding: 30px;
    margin-bottom: 30px;
}

form .row{
    margin-bottom: 20px;
}

label{
    font-size: 150%;
    color: white;
}

input, textarea{
    outline: none;
    padding: 10px;
    background-color: rgba(46, 45, 45, 0.3);
    border: 1px solid rgba(75, 73, 73, 0.8);
    margin-left: 30px;
    cursor: pointer;
    border-radius: 5px;
}

textarea{
    resize: none;
    height: 100px;
}

input{
    height: 50px;
    
}

input[type=text], input, textarea{
    width: 80%;
    font-size: 100%;
    transition: all .2s;
}

input[type=text]:focus, input:focus, textarea:focus{
    color: white;
    background-color: rgba(48, 47, 47, 0.8);
}

form .row:last-child{
    text-align: center;
}

input[type=submit]{
    font-weight: 700;
    font-size: 100%;
    border-radius: 5px;
    width: 60%;

}

/*---------------------------Footer-------------------------------*/
footer{
    text-align: center;
    background-color: #777777;
    color: white;
    padding: 10px;
}